<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name = "format-detection" content = "telephone=no" />
<title>Клиенты для юристов и адвокатов</title>
<link rel="shortcut icon" type="image/x-icon" href="static/images-jurist/favicon.ico">
<script src="static/js-jurist/jquery-1.11.2.min.js"></script>
<script src="static/js-jurist/custom_script.js"></script>
<link rel="stylesheet" type="text/css" href="static/css-jurist/style.css">

</head>
<body>
	<div id="head">
    	<div class="inner topinner">
    		<div id="contact">8 (495) 532-89-74</div>
            <div class="head-inner">
            	<span class="lines">Вся Россия</span>
                <div id="spacer"></div>
            	<h1>Клиенты для<br />юристов и адвокатов</h1>
                <div class="button-top to-form">Узнать условия и стоимость</div>
            </div>
        </div>
    </div>

    <div class="inner">
    	<h2>О компании</h2>
        <div class="text">
<p>Наша компания – одна из крупнейших бирж по привлечению клиентов для юридических
компаний по всей России. Мы работаем на рынке лидогенерациис 2009 года и уже успели
зарекомендовать себя как надежного партнера! Ежедневно мы получаем более 3500
заявок по России.</p>

<p>Теперь у вас нет необходимости тратить деньги и силы на создание дорогостоящих
рекламных кампаний в интернете, продвигать свой сайт или расклеивать объявления
по городу. Мы сами находим и предоставляем вам клиентов, заинтересованных
именно в ваших услугах!</p>

<p>Юридические заявки, которые мы вам предоставляем, — это данные клиента (имя,
номер телефона, вопрос), которые он оставляет в специальных формах на нашем сайте.
Другими словами это заявка клиента на юридические услуги. Мы находим клиентов
только по самым «горячим» юридическим вопросам!</p>

<p>Мы заинтересованы в долгосрочном сотрудничестве, поэтому очень серьезно
относимсся к качеству наших заявок. Персональный менеджер доступен для вас 24 часа
в сутки и 7 дней в неделю. Индивидуальный подход, возможны эксклюзивные условия!</p>
        </div>
    </div>

    <div class="gray">
    	<div class="inner">
        	<h2>Как мы работаем</h2>
            <div class="text">

<table class="list-tbl">
    <tr>
        <td class="num-td"><div class="num">1</div></td>
        <td>Вы звоните нам по телефону 8 (495) 532-89-74 или оставляете свои контакты через <span class="to-form dashed">специальную форму</span> на сайте;</td>
    </tr>
    <tr>
        <td class="num-td"><div class="num">2</div></td>
        <td>Уточняем необходимое количество заявок в сутки и время их поступления на каждый день недели (при необходимости встречаемся и обсуждаем все вопросы лично);</td>
    </tr>
    <tr>
        <td class="num-td"><div class="num">3</div></td>
        <td>Мы бесплатно предоставляем вам доступ в нашу систему управления заявками, где вы будете видеть всех ваших клиентов, присваивать им статусы и браковать;</td>
    </tr>
    <tr>
        <td class="num-td"><div class="num">4</div></td>
        <td>Оплачиваете то количество заявок, которое вам необходимо. Минимальный заказ – 15 заявок в день;</td>
    </tr>
    <tr>
        <td class="num-td"><div class="num">5</div></td>
        <td>Вы получаете заявки, связываетесь с клиентом и доводите его до сделки. Если к вам попадет некорректная заявка, вы ее не оплачиваете;</td>
    </tr>
</table>

            </div>
        </div>
    </div>

    <div class="inner">
    	<h2>Наши преимущества</h2>
        <div class="text">
<p>Бракуем 100% некорректные заявки. Некорректная заявка – клиенты из другого региона,
повторное обращение, неверный номер, недозвон в течение двух дней. За такие лиды вы
ничего не платите.</p>

<p>Вы сами решаете какое количество клиентов вам необходимо. На сегодняшний день мы
готовы предоставлять до 450 клиентов в день.</p>

<p>Низкая цена. Уже сегодня вы можете сократить расходы на привлечение клиентов в
2-5 раз.</p>

<p>Платите только за обращение клиента в вашу компанию. Вы не оплачиваете размещение
рекламы.</p>

<p>Основные темы наших заявок: жилищное право, уголовное право, гражданское право,
наследственное право, семейное право, земельное право, исполнительное производство,
налоговое право, трудовое право, взыскание долгов, алименты, возмещение ущерба,
вопросы автовладельцев, составление договоров, недвижимость, защита прав
потребителей и др.</p>
        </div>
    </div>

    <div class="gray">
    	<div class="inner" id="order">
        	<h2>Оставьте свои контакты</h2>
            <div class="form-header">Мы свяжемся с вами в ближайшее время</div>
            <div class="form">
            	<form class="sform q" method="post">
                    <input type="hidden" name="name" value="test">
                	<input class="inputbox" type="text" name="question" placeholder="Имя" value="">
                    <input class="inputbox" type="text" name="phone" placeholder="Телефон" value="">
                    <input class="button" type="submit" value="Отправить заявку">
                </form>
            </div>
            <div class="bottom">или позвоните нам<br />8 (495) 532-89-74</div>
        </div>
    </div>

</body>
</html>
