<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style-login.css') }}">
        <script src="{{ url_for('static', filename='js/script-login.js') }}"></script>
        <title>LEADOK - Вход</title>
    </head>


    <body>
    <div id="top-spacer"></div>
    <div id="login-form">
    <div id="login-logo">LEAD<span style="color:#f39f19">OK</span></a></div>
        <form method="post" name="login">
            <input class="inputbox" type="text" name="name" placeholder="Логин" value="">
            <input class="inputbox" type="password" name="password" placeholder="Пароль" value="">
            <input class="inputbox-submit" type="submit" name="login_submit" value="Вход в систему">
        </form>
    </div>
    </body>

</html>

