<!DOCTYPE HTML>
<html class="thanks">
<head>
<meta charset="utf-8">
<title>Спасибо за обращение!</title>

<link rel="shortcut icon" type="image/x-icon" href="static/images-jurist/favicon.ico">
<link rel="stylesheet" type="text/css" href="static/css-jurist/style_thanks.css">



</head>

<body class="thanks">
    <div id="wrapper">
            <div id="main">
            	<div class="inner">
		    <div class="confirm_block">
			<div class="confirm_block_green">ЗАЯВКА УСПЕШНО ОТПРАВЛЕНА</div>
			</div>
		</div>
            </div>
    </div>


</body>
</html>
