{% set m = 1 %}

{% extends "base.html" %}

{% block content %}

<div id="header">
    <div id="page-header">
        <h1>Статистика — {{ g.MONTHS.get(data['month'], '') }} {{ data['year'] }}</h1>
    </div>

    <div id="filter-pay">
        <div id="filter-pay-left">
            <form method="get">
            <table class="filter-pay">
                <tr>
                    <td class="col-1">Период:</td>
                    <td>
                        <select name="month" class="select-status">
                            {% for month in g.MONTHS %}
                            <option  {% if month == data['month'] %}selected="selected"{% endif %} value="{{ month }}">{{ g.MONTHS[month] }}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="col-2">&nbsp;</td>
                    <td>
                        <select name="year" class="select-status">
                            {% for year in g.YEARS %}
                            <option {% if year == data['year'] %}selected="selected"{% endif %} value="{{ year }}">{{ year }}</option>
                            {% endfor %}
                            </select>
                    </td>
                    <td><input class="submit-filter-pay" type="submit" name="submit" value="Показать"></td>
                </tr>
                </table>
            </form>
        </div>
    </div>


</div>

<div id="content">

    {% if data['stats'] %}
    <table class="ld-table">

        <tr class="ld-table-header">
            <td>Дата</td>
            <td>Заявки</td>
            <td>Браки</td>
            <td>Цена заявки</td>
            <td>Потрачено</td>
        </tr>

        {% for stat in data['stats'] %}
            {% if stat.get('leads_num', 0) %}
            <tr class="ld-table-row">
                <td >{{ stat.get('date', '') }}</td>
                <td class="number">{{ stat.get('leads_num', '')}}</td>
                <td class="number">{% if stat.get('leads_brack') %}{{ stat.get('leads_brack', '')}}{% endif %}</td>
                <td class="number">{{ stat.get('lead_price', '')}}</td>
                <td class="number">{{ stat.get('total_spent', '')}}</td>
            </tr>
            {% else %}
            <tr>
                <td>{{ stat.get('date', '') }}</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% endif %}
            {% endfor %}

    </table>

    {% else %}
    Статистика за выбранный период недоступна.
    {% endif %}
</div>

{% endblock %}
